<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="endpoint" value="https://cosmos-demo-bg.documents.azure.com:443/" />
    <add key="authKey" value="z92n0hfYBMmcn0qyq2gdYuCkpRazejxw5zPQVzg0OhZSQGCWuJOXzX4LYKvJnyQT8R3LhWmx9oKGrwdvzYDHlw==" />
    <add key="database" value="cart" />
    <add key="collection" value="container" />
  </appSettings>